{% extends 'base.html' %}

{% block content %}
<div class="container">
	<div class="section-menu">

 <h1>Menu for table {{table.id}}</h1>



{% for item in menu_list%}

 <div class="card" style="width: 18rem;">
  <img src="{{item.image}}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{item.name}}</h5>
    <p class="card-text">The price is {{item.price}}ILS</p>
    <a href="{{ url_for('make_order', menu_item_id=item.id) }}" type="submit" class="btn btn-primary">Get the drink!</a>
  </div>
</div>
		{% endfor %}



	<h1>your orders</h1>
</div>
		{% with messages = get_flashed_messages() %}
			{% if messages %}
				{% for message in messages %}
					<div class="alert alert-info" role="alert">
						{{ message }}
					</div>
				{% endfor %}
			{% endif %}
		{% endwith %}

	<!-- To do: add menu content here. -->
	</div>
	<div class="section-orders">
		<!-- To do: add orders content here. -->
	</div>
</div>
{% endblock %}